ul {
  list-style: none;
}

.menuAbout {
  display        : flex;
  justify-content: center;
  gap            : 2em;
  margin         : 2em auto;
}

.menuAbout a {
  justify-content: center;
  font-size      : 15px;
  font-weight    : bold;
  color          : #ffffff;
}

.navAbout {
  display        : flex;
  justify-content: center;
  align-items    : center;
  min-height     : 70px;
}

.navAbout li {
  display           : flex;
  flex-direction    : column;
  justify-content   : center;
  align-items       : center;
  gap               : .3em;
  border            : 0px solid #ffffff;
  background-color  : #0d6a87;
  -webkit-box-shadow: 10px 10px 41px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow   : 10px 10px 41px -11px rgba(0, 0, 0, 0.75);
  box-shadow        : 10px 10px 41px -11px rgba(0, 0, 0, 0.75);
  border-radius     : 8px;
  padding           : 2em;
  height            : 5em;
  transition        : 0.3s;
  line-height       : 1.1;
}

.menuAbout li:hover {
  background-color: #07475a;
}

.navAbout li i {
  font-size: 1.4em;
}

@media screen and (max-width: 1300px) {

  .navAbout li {
    align-items    : center;
    justify-content: center;
    text-align     : center;
  }
}

@media screen and (max-width: 800px) {
  .menuAbout {
    display        : flex;
    justify-content: center;
    gap            : 20px;
  }

  .navAbout ul {
    display       : flex;
    flex-direction: column;
  }

  .navAbout li {
    border            : 0px solid #ffffff;
    padding           : 2em;
    background-color  : #0d6a87;
    -webkit-box-shadow: 10px 10px 41px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow   : 10px 10px 41px -11px rgba(0, 0, 0, 0.75);
    box-shadow        : 10px 10px 41px -11px rgba(0, 0, 0, 0.75);
    border-radius     : 8px;
    width             : 100%;
    height            : 4em;
    transition        : 0.3s;
  }

  li:hover {
    background-color: #07475a;
  }


}