* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color          : #9E9FA1;
    font-size      : 16px;
    font-weight    : 600;
}

a:hover {
    color: white;
}

/* navbar */
.navbar {
    background-color: #0a1124;
    padding         : 10px 20px;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    gap             : 40px;
    min-height      : 70px;
}

/* logo  */
.logo-wrap {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    margin-left    : 10%;
}

.logo {
    width: 150px;
}

/* ul  */
.navMenu {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    gap            : 60px;
}

.btn-launch {
    width             : 120px;
    background-color  : #0D6A87;
    color             : white;
    padding           : .8em 1em;
    font-size         : .9em;
    font-weight       : bold;
    border-radius     : 8px;
    border            : none;
    cursor            : pointer;
    -webkit-box-shadow: 4px 4px 48px -10px rgba(0, 0, 0, 0.85);
    -moz-box-shadow   : 4px 4px 48px -10px rgba(0, 0, 0, 0.85);
    box-shadow        : 4px 4px 48px -10px rgba(0, 0, 0, 0.85);
}

.btn-launch:hover {
    background-color: #07475A;
}

/* media queries */

@media screen and (max-width: 780px) {

    /* hamburger */
    .hamburger {
        display: block;
        cursor : pointer;
    }

    .bar {
        background-color  : #9E9FA1;
        width             : 20px;
        height            : 3px;
        display           : block;
        margin            : 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition        : 0.3s ease-in-out;
    }

    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    /* navMenu */

    .navMenu {
        position        : absolute;
        flex-direction  : column;
        gap             : 0;
        top             : 70px;
        left            : -100%;
        text-align      : start;
        width           : 100%;
        transition      : 0.3s ease-in-out;
        background-color: #0a1124;
        padding         : 10px;
    }

    .navMenu.active {
        left: 0;
    }

    .navMenu li {
        margin     : 16px 0;
        font-weight: 500;
    }

    .logo-wrap {
        margin-left: 0%;
    }
}