.main-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #0a1124 0%, #10334e 100%);
}

.image {
  padding: 3em 1em 1em;
}

.content {
  margin: 1em;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  padding: 2em;
}

.subContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.3em;
  min-width: 50%;
}

.subContent h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  width: fit-content;
}

.subContent a {
  font-size: 16px;
  font-weight: bold;
  color: #35c1f1;
}

.subContent p {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
  color: #cacad6;
  padding: 20px 0px 20px;
}

.learn {
  padding: 0.5em 1em 1em;
}

@media screen and (max-width: 800px) {
  .content {
    margin: 10%;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
  }

  .subContent {
    text-align: center;
    align-items: center;
  }

  .subContent img {
    max-width: 300px;
  }
}
