.main-about {
  background     : #0a1124;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.content {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  text-align     : center;
  max-width      : 900px;
  margin         : 4em 1em;
  gap            : 1em;
  min-width      : 50%;
  padding        : 1.5em;
}

.content img {
  width: 50px;
}

.content h1 {
  font-size  : 40px;
  font-weight: bold;
  color      : white;
  width      : fit-content;
}

.content a {
  font-size  : 16px;
  font-weight: bold;
  color      : #35c1f1;
}

.content p {
  font-size  : 20px;
  line-height: 1.4;
  font-weight: 500;
  color      : whitesmoke;
}

.learn {
  margin-top: 1em;
}

.learn:hover {
  color: #0d6a87;
}

@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
    text-align    : center;
    align-items   : center;
    gap           : 1em;
    max-width     : 420px;
  }

  .content img {
    margin-top: 2em;
    max-width : 400px;
  }
}