.mainFaq {
  display        : flex;
  flex-direction : column;
  justify-content: start;
  align-items    : center;
  padding        : 10% 0;
  background     : #10334e;
}

.mainFaq .titleFaq {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  margin-bottom  : 1em;
}

.contentFaq {
  display       : flex;
  flex-direction: row;
  padding       : 1em;
}


.accordionFaq {
  display       : flex;
  flex-direction: column;
  padding       : 1em;
}

.mainFaq .titleFaq {
  font-size  : 40px;
  font-weight: bold;
  color      : white;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 800px) {

  .mainFaq .titleFaq {
    display       : flex;
    padding-top   : 0em;
    flex-direction: column;
    text-align    : center;
    max-width     : 420px;
  }

}