.dashboard {
    background     : linear-gradient(0deg, #0a1124 0%, #10334e 100%);
    color          : whitesmoke;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    gap            : 2em;
    padding-top    : 2em;
}

.dashboard h2 {
    text-align: center;
    color     : whitesmoke;
}

.game-list {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    gap            : 20px;
}

.transaction-list {
    background-color: #0a1124;
    margin-top      : 1em;
    padding-top     : 2em;
    padding         : 2em .4em 4em .4em;
}

.transaction-table {
    width           : 100%;
    border-collapse : collapse;
    margin-top      : 1em;
    background-color: #0a1124;
    color           : whitesmoke;
}

.transaction-table th,
.transaction-table td {
    padding   : 10px;
    border    : 1px solid #dddddd30;
    text-align: center;
    font-size : 10px;
    color     : #f5f5f5b4;
}

.transaction-table td:hover {
    color: whitesmoke;
}

.transaction-table th {
    background-color: #10334e;
    color           : #f5f5f5b4;
    width           : fit-content;
}

.transaction-table tr:hover {
    background-color: #10334e4e;
}

.footer {
    display       : flex;
    flex-direction: row;
    margin        : 2em;
}

.footer div {
    display       : flex;
    flex-direction: row;
    gap           : 1em;
}

.footer img {
    width: 50px;
}

.footer p {
    color    : gray;
    max-width: 300px;
    font-size: 11px;
}

@media (max-width: 600px) {
    .game {
        flex-basis: 100%;
        max-width : none;
        margin    : 1em;
    }

    .chart-list section {
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        padding        : .2em;
        margin         : 1em;
        gap            : 2em;
    }

    .chart {
        width: 320px;
    }
}