.store {
    background     : linear-gradient(0deg, #0a1124 0%, #10334e 100%);
    color          : whitesmoke;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.main-banner {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    width          : 100%;
    overflow       : hidden;
}

.main-game {
    display            : flex;
    align-items        : flex-end;
    flex-direction     : column;
    height             : 600px;
    width              : 100%;
    max-width          : 1200px;
    background-image   : url('../assets/bellum-game.webp');
    background-position: center;
    background-size    : cover;
    position           : relative;
}

.main-game .game-description {
    margin: 0 .5em;
}

.main-banner .main-game .main-game-info {
    display         : flex;
    flex-direction  : column;
    gap             : .1em;
    margin          : 1em;
    background-color: #18334ad5;
    padding         : .4em;
    position        : absolute;
    bottom          : 0;
    right           : 0;
    border-radius   : 3px;
    max-width       : 300px;
}

.main-banner .main-game h2 {
    color : whitesmoke;
    margin: 0 .2em;
}

.main-game-price-and-button {
    display        : flex;
    flex-direction : row;
    align-items    : end;
    justify-content: space-between;
    margin         : 0 .4em .2em;
    gap            : .2em;
}

.main-banner .main-game .game-price {
    display         : flex;
    align-items     : center;
    font-weight     : bold;
    font-size       : 28px;
    width           : fit-content;
    color           : yellowgreen;
    background-color: #ffffff12;
    padding         : .4em .4em .3em;
    border-radius   : 3px;
    border          : 1px solid #80808041;
}

.game-rating-wrap {
    padding: 0;
}

.game-rating {
    border          : 1px solid yellowgreen;
    border-radius   : 5px;
    background-color: #f0f8ff0c;
    width           : fit-content;
    display         : flex;
    flex-direction  : column;
    font-size       : 10px;
    font-size       : 10px;
    font-weight     : 600;
    display         : flex;
    flex-direction  : column;
}

.game-rating span {
    font-size  : 18px;
    font-weight: 600;
}

.main-banner .buy-main-game-button {
    width           : fit-content;
    height          : fit-content;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    font-size       : 24px;
    font-weight     : 600;
    background-color: yellowgreen;
    color           : #303030;
    padding         : .6em;
    border-radius   : 3px;
    border          : none;
    cursor          : pointer;
}

.buy-main-game-button:hover {
    background-color: #99cd32b0;
}

.banner-and-info {
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 4em;
    width          : 100%;
    padding        : 4em;
}

.banner {
    text-align: center;
    overflow  : hidden;
    width     : fit-content;
}

.platform-info {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    gap            : 1em;
    max-width      : 400px;
}

.platform-info h2 {
    font-size     : 2.5em;
    text-transform: uppercase;
    font-weight   : 700;
}

.platform-info p {
    line-height: 1.4em;
}

.platform-info span {
    background-color: #ffffff11;
    padding         : .5em;
    font-weight     : bold;
    text-align      : center;
    width           : fit-content;
    border-radius   : 4px;
}

.banner-content {
    cursor         : pointer;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    margin-bottom  : 1em;
}

.banner-content .slide-button {
    color           : #afafaf;
    margin          : auto .4em;
    background-color: transparent;
    border          : none;
    font-size       : 2em;
    cursor          : pointer;
}

.banner h2 {
    text-align: center;
    margin    : .5em;
}

.featured-gallery {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.gallery {
    text-align: center;
    margin-top: 2em;
}

.gallery h2 {
    margin: 1em .4em;
}

.games-gallery {
    display        : flex;
    flex-wrap      : wrap;
    gap            : 20px;
    justify-content: center;
}

.games-gallery>div {
    flex     : 1 0 25%;
    max-width: 20%;
    min-width: 200px;
}

.middle {
    height: 100vh;
}

@media (max-width: 768px) {

    /* Versão para mobile */
    .main-game {
        height: 400px;
    }

    .banner-and-info {
        flex-direction: column;
        gap           : 1em;
        padding       : .1em;
        margin-top    : 2em;
    }

    .platform-info {
        margin-left: 0em;
        max-width  : 80%;
    }

    .banner-content button {
        font-size: 2em;
    }

    .banner h2 {
        margin-top: 2em;
    }

    .games-gallery>div {
        flex     : 1 0 45%;
        max-width: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    /* Versão para tablets */
    .banner-and-info {
        gap       : 1.5em;
        padding   : 1em;
        margin-top: 1em;
    }

    .platform-info {
        max-width  : 40%;
        margin-left: 2em;
    }

    .games-gallery>div {
        flex     : 1 0 30%;
        max-width: 30%;
    }

    .banner-content .slide-button {}
}